<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">


	 <!--1加载属性配置文件：jdbc.properties -->
  <context:property-placeholder location="classpath:jdbc.properties"/>

 <!-- 5.数据源(HIbernate整合c3p0) -->
 <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClassName}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="autoCommitOnClose" value="true"/>
        <property name="initialPoolSize" value="${cpool.initialPoolSize}"/>
        <property name="minPoolSize" value="${cpool.minPoolSize}"/>
        <property name="maxPoolSize" value="${cpool.maxPoolSize}"/>
        <property name="maxIdleTime" value="${cpool.maxIdleTime}"/>
        <property name="acquireIncrement" value="${cpool.acquireIncrement}"/>
        <property name="idleConnectionTestPeriod" value="${cpool.idleConnectionTestPeriod}"/>
        <property name="acquireRetryAttempts" value="${cpool.acquireRetryAttempts}"/>
        <property name="maxStatements" value="${c3p0.maxStatements}"/>
        <property name="maxStatementsPerConnection" value="${c3p0.maxStatementsPerConnection}"/>
    </bean>

   <!-- 4.Spring整合HIbernate -->
 <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> 
   <!-- 4.1注入数据源 -->
    <property name="dataSource"  ref="dataSource"/>
    
    <!-- 4.2加载HIbernate的映射文件 -->
     <property name="mappingResources"> 
            <list> 
            	<value>com/rj/bd/framework/entity/Student.hbm.xml</value>
            	<value>com/rj/bd/framework/entity/Classroom.hbm.xml</value>
            </list> 
        </property> 
        <!-- 4.3加载HIbernate的属性值 -->
         <property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>	
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				 <!-- 1.使用缓存 -->
                 <prop key="cache.use_query_cache">true</prop>
                 <!-- 2.用Ehcache来充当HIbernate的二级缓存 --> 
                <prop key="cache.provider_class">org.hibernate.cache.EhCacheProvider</prop> 
			</props>
		</property>
 </bean>
 
 

  <!-- 7.事务处理器 -->         
   <bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
	    <property name="sessionFactory">
	      <ref local="sessionFactory" />
	    </property>
	  </bean>
 
  <!-- 8.事务的传播特性
       lazy-init="true"：延迟加载：但是需要你在<many-to-one  lazy="false">才能生效，不然就出现没有session
   -->          
    <bean id="baseTransactionProxyBean" lazy-init="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"> 
      <property name="transactionManager"> 
      	<ref bean="hibernateTransactionManager" />
      </property>
      <property name="transactionAttributes"> 
         <props> 
            <prop key="*">PROPAGATION_REQUIRED</prop>
         </props> 
      </property> 
   	</bean>
    
    <import resource="applicationContext-student.xml"/>

</beans>